* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: ptSerif;
    src: url(../fonts/PTF55F.ttf);
}

/** start utility classes **/ 
.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.absolute-left-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.no-padding {
	padding: 0;
}
.section-bg {
	color: #fff;
	background: #614385;  /* fallback for old browsers */
    background: -webkit-linear-gradient(bottom, #516395, #614385);
    background: -o-linear-gradient(bottom, #516395, #614385);
    background: linear-gradient(to top, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.no-margin {
	margin: 0; 
}
.mb30 {
	margin-bottom: 30px;
}
.mt30 {
	margin-top: 30px;
}
.mauto {
	margin: 0 auto;
}
.no-wrap {
	white-space: nowrap;
}
/** end utility classes **/ 

body {
	font-family: 'Open Sans', sans-serif;
	color: #000;
}

h1 {
	font-family: 'Poiret One', cursive;
	color: #fff;
	font-size: 60px;
	letter-spacing: 4px;
    text-shadow: purple 1px 2px 10px;
}

h4 {
	font-size: 21px;
}

#home {
	background-color: #3c413e; 
	background: url(../images/computer-laptop-background.jpg) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
}

.title-wrapper {
	position: absolute;
	animation: fade-in 3s ease-out 0.5s;
	opacity: 0;
	text-align: center;
	animation-fill-mode: forwards;
	background: rgba(0,0,0,.3);
    padding: 20px;
    border: solid 1px white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#sub {
	font-size: 24px;
	overflow: hidden;
	font-family: Oswald, sans-serif;
	width: 0;
	white-space: nowrap;
	animation: widthInc 2.7s steps(27) 2s 1, borderBlink 0.5s steps(27) infinite 2s;
	animation-fill-mode: forwards;
	color: #fff;
	position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
    letter-spacing: 1px;
}

.section-title {
	margin: 30px auto;
	font-family: 'Poiret One', cursive;
	font-size: 38px;
	letter-spacing: 10px;
	text-transform: uppercase;

}

.section-title::after {
	content: " ";
    display: block;
    margin: 10px auto;
    height: 1px;
    width: 200px;
    background-color: #fff;
}
#about .section-title::after {
	width: 116px;
    background-color: #000;	
}

#projects .section-title::after {
	width: 186px;
}

#contact .section-title::after {
	width: 170px;
    background-color: #000;	
}

#techexp .section-title::after {
	width: 275px;
    background-color: #000;	
}

.designation {
	font-size: 17px;
}

.work-desc {
	margin-bottom: 10px;
	font-size: 13px;
}

.link-icon {
	height: 14px;
	margin-left: 5px;
}

.contact-icon {
	height: 32px;
	margin-right: 5px; 
	display: inline-block;
	width: 32px;
}

.contact-link {
	display: inline-block;
	white-space: normal;
	word-break: break-all;
	width: calc(100% - 45px);
	vertical-align: middle;
}
.contact-block {
	margin-bottom: 12px;
}
#contact-wrapper {
	max-width: 392px;
	margin: 0 auto;
	color: #000;
}
#contact-wrapper a, #contact-wrapper a:hover, #contact-wrapper a:focus, #contact-wrapper a:visited {
	color: #000;
	text-decoration: none;	
}

li {
	background: #614385;  /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #516395, #614385);
    background: -o-linear-gradient(left, #516395, #614385);
    background: linear-gradient(to left, #516395, #614385);
    padding: 10px;
    color: #fff;
    font-size: 16px;
    margin: 5px;
    display: inline-block;
}

/** start animations **/
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes widthInc {
	0% {
		width: 0%;
	}
	100% {
		width: 270px;
	}
}
@keyframes borderBlink {
	0% {
		border-right: 0;
	}
	100% {
		border-right: solid 1px;
	}
}
/** end animations **/

/** start media queries **/
@media (min-width: 768px) {

	.sectpad {
		padding: 0 100px;
	}
	.date-m10 {
		margin-top: 10px; 
	}
}

@media (max-width: 767px) {

	.sectpad {
		padding: 0 20px;
	}
}
/** end media queries **/